[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "==2.8.0"
motor = "==2.0.0"
sanic = "==19.3.1"
dnspython = "==1.16.0"
natural = "==0.2.0"
sanic-session = "==0.5.1"
"Jinja2" = "==2.10.1"
aiohttp = "==3.5.4"
discord-py = "==1.1.1"
ujson = "==1.35"

[dev-packages]
pylint = "*"

[requires]
# We want to target 3.7+ -- works with both.
